<Layout title="">
  <div class="flex flex-col items-center justify-center h-screen text-center space-y-4 w-screen overflow-x-auto select-none">
    <h1 class="text-[240px] font-extrabold text-orange-500 tracking-widest whitespace-nowrap">
      SUN.WIN
    </h1>
    <h1 class="text-[240px] font-extrabold text-orange-500 tracking-widest whitespace-nowrap">
      GEM.WIN
    </h1>
  </div>

  <script>
    document.addEventListener('dblclick', () => {
      const elem = document.documentElement;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) {
        elem.msRequestFullscreen();
      }
    });
  </script>
</Layout>
