---
import Layout from '../layouts/Layout.astro';
---

<Layout title="">
  <div class="flex flex-col items-center justify-center h-screen text-center space-y-4 w-screen overflow-x-auto">
<h1 class="text-[240px] font-extrabold text-orange-500 tracking-widest whitespace-nowrap select-none">
  SUN.WIN
</h1>
<h1 class="text-[240px] font-extrabold text-orange-500 tracking-widest whitespace-nowrap select-none">
  GEM.WIN
</h1>
  </div>

<script>
  document.addEventListener('dblclick', () => {
    const elem = document.documentElement; // hoặc document.body
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) { // Safari
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) { // IE
      elem.msRequestFullscreen();
    }
  });
</script>

</Layout>






