---
import Layout from '../layouts/Layout.astro';
---

<Layout title="">
  <div class="flex flex-col items-center justify-center h-screen text-center space-y-4">
    <h1 class="text-white text-5xl font-bold">SUN.WIN</h1>
    <h1 class="text-white text-5xl font-bold">GEM.WIN</h1>
  </div>
</Layout>


