---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
---

<Layout title="">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">SUN.WIN</h1>
    <h1 class="mb-10">GEM.WIN</h1>    
</Layout>
