---
import Layout from '../layouts/Layout.astro';
---

<Layout title="">
  <div class="flex flex-col items-center justify-center h-screen text-center space-y-4 w-screen overflow-x-auto">
    <h1 class="text-[240px] font-extrabold text-orange-500 tracking-widest whitespace-nowrap">SUN.WIN</h1>
    <h1 class="text-[240px] font-extrabold text-orange-500 tracking-widest whitespace-nowrap">GEM.WIN</h1>
  </div>
</Layout>






